
@{
    ViewBag.Title = "Edit";
}

<h2 data-bind="text: 'View/Edit ' + Name()"></h2>
<div>
    <form role="form">
        <div class="form-group">
            <label class="col-sm-1">Child Id</label>
            <label class="col-sm-2" data-bind="text: ChildId"></label>
        </div>
        <div class="form-group">
            <label class="col-sm-1" for="nameText">Name</label>
            <input class="col-sm-2" data-bind="value: Name" id="nameText"/>
        </div>
        <div class="form-group">
            <label for="birthdayText">Birthday</label>
            <input type="date" data-bind="value: Birthday" id="birthdayText" />
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/knockout");
<script type="text/javascript">
    function ChildViewModel() {
        var self = this;
        self.ChildId = ko.observable();
        self.Name = ko.observable();
        self.Birthday = ko.observable();
        self.Jobs = ko.observableArray();
    }

    var viewModel = new ChildViewModel();
    ko.applyBindings(viewModel);

    $(document).ready(function() {
        
        $.getJSON("@ViewBag.ApiUrl", function (data) {
            viewModel.ChildId(data.ChildId);
            viewModel.Name(data.Name);
            viewModel.Birthday(data.Birthday);
            viewModel.Jobs(data.Jobs);
        });
    });
</script>