
@{
    ViewBag.Title = "Index";
}

<h2>View Child</h2>
<div>

</div>

@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/knockout");
<script type="text/javascript">
    function ChildViewModel() {
        var self = this;
        self.Name = ko.observable();
        self.Birtday = ko.observable();
        self.Jobs = ko.observableArray();
    }
</script>